// SPDX-License-Identifier: GPL-2.0
/*
 * Analog Devices AD-FMCOMMS5-EBZ
 * https://wiki.analog.com/resources/eval/user-guides/ad-fmcomms5-ebz
 *
 * hdl_project: <fmcomms5/zc706>
 * board_revision: <>
 *
 * Copyright (C) 2014-2020 Analog Devices Inc.
 */
/dts-v1/;

#include "zynq.dtsi"
#include <dt-bindings/interrupt-controller/irq.h>
#include <dt-bindings/input/input.h>
#include <dt-bindings/gpio/gpio.h>

#define AD9361_EXT_BAND_CTL_SHORTHANDS
#include <dt-bindings/iio/adc/adi,ad9361.h>

/ {
	model = "MicroPhase, ANTSDR-T310";
	memory {
		device_type = "memory";
		reg = <0x00000000 0x40000000>;
	};
	
	aliases {
		ethernet0 = &gem0;
		serial0 = &uart1;
		spi0 = &qspi;
		mmc0 = &sdhci0;
		mmc1 = &sdhci1;
	};

	chosen {
		stdout-path = "/amba@0/uart@E0001000";
	};

	clocks {
		xo_40mhz_fixed_clk: clock@0 {
			#clock-cells = <0>;
			compatible = "adjustable-clock";
			clock-frequency = <40000000>;
			clock-accuracy = <200000>; /* 200 ppm (ppb) */
			clock-output-names = "XO_40MHz";
		};

		usb_ulpi_fixed_clk: clock@2 {
			#clock-cells = <0>;
			compatible = "fixed-clock";
			clock-frequency = <24000000>;
			clock-output-names = "24MHz";
		};
	};
};

&uart0 {
	status = "okay";
};


&gem0 {
	status = "okay";
	phy-handle = <&phy0>;
	phy-mode = "rgmii-id";

	phy0: phy@0 {
		device_type = "ethernet-phy";
		reg = <0x0>;
		marvell,reg-init = <3 16 0xff00 0x1e 3 17 0xfff0 0x00>;
	};
};


&usb0 {
	status = "okay";
	xlnx,phy-reset-gpio = <&gpio0 8 GPIO_ACTIVE_LOW>;
};


&i2c0 {
	status = "okay";
	clock-frequency = <400000>;
	i2cswitch@70 { /* u34 */
		compatible = "ti,tca9548";
		#address-cells = <1>;
		#size-cells = <0>;
		reg = <0x70>;
		reset-gpios =  <&gpio0 0 GPIO_ACTIVE_LOW>;
		i2c@7 { /* i2c mw 74 0 1 */
			#address-cells = <1>;
			#size-cells = <0>;
			reg = <7>;
			eeprom@50 { /* u23 */
				compatible = "at,24c08";
				reg = <0x50>;
			};
		};
		i2c@6 {
			#address-cells = <1>;
			#size-cells = <0>;
			reg = <6>;
			lm75a: lm75a@48 { 
				compatible = "national,lm75a";
				reg = <0x48>;
};

		};
		i2c@5 { /* i2c mw 74 0 4 */
			#address-cells = <1>;
			#size-cells = <0>;
			reg = <5>;
			rtc: rtc@68 { /* USER SI570 - u42 */
				compatible = "dallas,ds1307";
				reg = <0x68>;
			};
		};

		i2c@4 { /* i2c mw 74 0 1 */
			#address-cells = <1>;
			#size-cells = <0>;
			reg = <4>;
			eeprom@52 { /* u23 */
				compatible = "at,24c08";
				reg = <0x52>;
			};
		};
	};

};


&qspi {
	status = "okay";
	is-dual = <0>;
	num-cs = <1>;
	primary_flash: ps7-qspi@0 {
		#address-cells = <1>;
		#size-cells = <1>;
		spi-tx-bus-width = <1>;
		spi-rx-bus-width = <4>;
		compatible = "n25q256a", "jedec,spi-nor"; /* same as S25FL256 */
		reg = <0x0>;
		spi-max-frequency = <50000000>;
		partition@qspi-fsbl-uboot {
			label = "qspi-fsbl-uboot";
			reg = <0x0 0xE0000>; /* 896k */
		};
		partition@qspi-uboot-env {
			label = "qspi-uboot-env";
			reg = <0xE0000 0x20000>; /* 128k */
		};
		partition@qspi-linux {
			label = "qspi-linux";
			reg = <0x100000 0x500000>; /* 5M */
		};
		partition@qspi-device-tree {
			label = "qspi-device-tree";
			reg = <0x600000 0x20000>; /* 128k */
		};
		partition@qspi-rootfs {
			label = "qspi-rootfs";
			reg = <0x620000 0xCE0000>; /* 12875k */
		};
		partition@qspi-bitstream {
			label = "qspi-bitstream";
			reg = <0x1300000 0xD00000>; /* 13 M */
		};
	};
};

&sdhci0 {
	status = "okay";
	disable-wp;
};

&sdhci1 {
	status = "okay";
	disable-wp;
};

&amba {
	rx_dma: dma@7c400000 {
		compatible = "adi,axi-dmac-1.00.a";
		reg = <0x7c400000 0x10000>;
		#dma-cells = <1>;
		interrupts = <0 57 IRQ_TYPE_LEVEL_HIGH>;
		clocks = <&clkc 16>;

		adi,channels {
			#size-cells = <0>;
			#address-cells = <1>;

			dma-channel@0 {
				reg = <0>;
				adi,source-bus-width = <128>;
				adi,source-bus-type = <2>;
				adi,destination-bus-width = <64>;
				adi,destination-bus-type = <0>;
			};
		};
	};

	tx_dma: dma@7c420000 {
		compatible = "adi,axi-dmac-1.00.a";
		reg = <0x7c420000 0x10000>;
		#dma-cells = <1>;
		interrupts = <0 56 IRQ_TYPE_LEVEL_HIGH>;
		clocks = <&clkc 16>;

		adi,channels {
			#size-cells = <0>;
			#address-cells = <1>;

			dma-channel@0 {
				reg = <0>;
				adi,source-bus-width = <64>;
				adi,source-bus-type = <0>;
				adi,destination-bus-width = <128>;
				adi,destination-bus-type = <2>;
			};
		};
	};

	/* Master HDL core with DMA */
	cf_ad9361_adc_core_0: cf-ad9361-A@79020000 {
		compatible = "adi,axi-ad9361-6.00.a";
		reg = <0x79020000 0x6000>;
		dmas = <&rx_dma 0>;
		dma-names = "rx";
		spibus-connected = <&adc0_ad9361>;
		slavecore-reg = <0x79040000 0x6000>;
	};

	cf_ad9361_dac_core_0: cf-ad9361-dds-core-lpc@79024000 {
		compatible = "adi,axi-ad9361x2-dds-6.00.a";
		reg = <0x79024000 0x1000>;
		clocks = <&adc0_ad9361 13>;
		clock-names = "sampl_clk";
		dmas = <&tx_dma 0>;
		dma-names = "tx";
		slavecore-reg = <0x79044000 0x1000>;
	};


	/* Slave HDL core without DMA */
	cf_ad9361_adc_core_1: cf-ad9361-B@79040000 {
		compatible = "adi,axi-ad9361-6.00.a";
		reg = <0x79040000 0x6000>;
		spibus-connected = <&adc1_ad9361>;
	};

	cf_ad9361_dac_core_1: cf-ad9361-dds-core-B@79044000 {
		compatible = "adi,axi-ad9361x2-dds-6.00.a";
		reg = <0x79044000 0x1000>;
		clocks = <&adc1_ad9361 13>;
		clock-names = "sampl_clk";
		mastercore-reg = <0x79024000 0x1000>;
	};

	mwipcore@43c00000 {
		compatible = "mathworks,mwipcore-axi4lite-v1.00";
		reg = <0x43c00000 0xffff>;
	};
};

&spi0 {
	status = "okay";
};

#define fmc_spi spi0

#include "zynq-t310-fmcomms5.dtsi"

&adc0_ad9361 {
	reset-gpios = <&gpio0 100 0>;
	sync-gpios = <&gpio0 99 0>;
	cal-sw1-gpios = <&gpio0 107 0>;
	cal-sw2-gpios = <&gpio0 108 0>;
};

&adc1_ad9361 {
	reset-gpios = <&gpio0 113 0>;
};
